apiVersion: v1
kind: Service
metadata:
  name: acp
  namespace: {{ .Release.Namespace }}
  labels:
    app: acp
spec:
  ports:
  - name: acp
    port: 443
    targetPort: 8080
    protocol: TCP
  selector:
    app: acp
  type: LoadBalancer